body, html {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.bg {
  background-image: url("../img/airline.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top {
  width: 100%;
  height: 12%;
  margin: 0px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  z-index: -1;
  border-bottom: 1px solid white;
  background-color: #1b3b53;
}

.logo {
  width: 50%;
  height: auto;
  margin: 0px;
  padding-left: 5%;
  position: relative;
  left: 0%;
}

.nav {
  width: 50%;
  height: auto;
  margin: 0 auto;
  position: relative;
  left: 27%;
  bottom: 50%;
  text-align: center;
}

a {
  font-family: "Lato", sans-serif;
  color: lightgray;
  font-size: 10pt;
  text-decoration: none;
  padding-left: 2%;
  padding-right: 2%;
}

img {
  padding-left: 1%;
  padding-right: 1%
}

/* .search {
  height: 32%;
  width: 31.5%;
  margin: 5px auto;
  background-color: #1b3b53;
  box-sizing: border-box;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  bottom: 40%;
  left: 7%
}

.plane_car {
  width: 100%;
  margin: 0px;
  border: 2px solid red;
  position: absolute;
  /* background-color: green; */
}

.plane {
  border: 2px solid yellow;
  position: relative;
  float: left;
}
.hotel {
  border: 2px solid green;
  position: relative;
  float: center;
}
.car {
  border: 2px solid purple;
  position: relative;
  float: right;
} */
