body, html {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.bg {
  background-image: url("../img/airline.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top {
  width: 100%;
  height: 12%;
  margin: 0px;
  position: absolute;
  z-index: -1;
  border-bottom: 1px solid white;
  background-color: #1b3b53;
}

.logo {
  width: 50%;
  height: auto;
  margin: 0px;
  padding-left: 5%;
  position: relative;
  left: 0%;
  float: left;
}

.nav {
  width: 50%;
  height: auto;
  margin: 0 auto;
  position: relative;
  /* right: -4%; */
  bottom: 50%;
  /* display: inline; */
  float: right;
  text-align: center;
}

a {
  font-family: "Lato", sans-serif;
  color: lightgray;
  font-size: 10pt;
  padding: 0% 2% 0% 2%;
  text-decoration: none;
  display: inline;
}

.search {
  height: 32%;
  width: 33%;
  margin: 5px auto;
  background-color: #1b3b53;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  bottom: 40%;
  left: 7%
}

.plane_car {
  width: 100%;
  margin: 0px;
  
  /* background-color: green; */
}
