html {
  height: 100%;
}

body {
  height: 100%;
}

#wrapper {
  height: 100%;
}

#top-wrapper {
  height: 50%;
}

#bottom-wrapper {
  height: 50%;
}

#header {
  text-align: center;
  width: 50%;
  height: 100%;
  background-image: url('../bio_photos/Profile Picturebw.jpg');
  background-size: 100%;
  font-family:'Montserrat', sans-serif;
  font-variant: small-caps;
  color: #2b0402;
  float: left;
}
#header:hover {
  background-image: url('../bio_photos/Profile Picture.jpg');
  background-size: 100%;
}

h1 {
  margin: 3% 0% 0%;
  padding: 0% 0% 0%;
  font-stretch: extra-expanded;
  font-family:'Montserrat', sans-serif;
  font-variant: small-caps;
  color: #18191a;
  font-size: 300%;
  text-shadow: 3px 2px #fff;
}

/* #header>h2 {
  margin: 0% 0% 0%;
  padding: 0% 0% 0%;
  font-family: 'Poiret One', cursive;
  font-size: 175%;
  font-stretch: expanded;
} */

#navigation {
  width: 50%;
  height: 50%;
  background-color: #bcc0d9;
  float: right;
}

.buttons{
  position: relative;
  text-align: center;
}
button {
  position:relative;
  padding: inherit;
  width: 15%;
  text-align: center;
  border: 2px solid #000;
  font-family: 'Julius Sans One', sans-serif;
  font-variant: small-caps;
  font-size: 80%;
  color: #1a1a1a;
  background-color: #c7c7c7;
  box-shadow: 2px 4px #919191;
}
button:hover{
  background-color: #fda329;
}
button:active {
  background-color: #bcc1d8;
  box-shadow: 0px 3px #000;
  transform: translateY(4px);
}

#home_resume {
  width: 50%;
  height: 50%;
  float: right;
}

#home {
  width: 50%;
  height: 100%;

  background-image: url('../bio_photos/home_homebw.jpg');
  background-size: 100%;
  float: left;
}
#home:hover {
  background-image: url('../bio_photos/home_home.jpg');
  background-size: 100%;
}

#resume {
  width: 50%;
  height: 100%;
  background-color: #bcd9d2;
  float: right;
}

#snapshot {
  width: 50%;
  height: 100%;
  background-color: #bbc7cc;
  float: right;
}

#skills-wrapper {
  width: 50%;
  height: 50%;
  float: left;
}

#projects {
  width: 50%;
  height: 100%;
  background-color: #bcd9d2;
  float: left;
}

#contact {
  width: 50%;
  height: 100%;
  background-color: #c5e2e3;
  float: right;
}

#hobbies {
  width: 50%;
  height: 50%;
  background-color: #bcc0d9;
  float: left;
}
