html {
  height: 100%;
}

body {
  height: 100%;
}

#wrapper {
  height: 100%;
}

#top-wrapper {
  height: 50%;
}

#bottom-wrapper {
  height: 50%;
}

#header {
  text-align: center;
  width: 50%;
  height: 100%;
  background-color: #bbc7cc;
  float: left;
}

h1 {
  margin: 3% 0% 0%;
  padding: 0% 0% 0%;
  font-stretch: extra-expanded;
  font-family: 'Montserrat', sans-serif;
  font-variant: small-caps;
  font-size: 250%;
  text-shadow: 3px 2px #919191;
}

#header>h2 {
  margin: 0% 0% 0%;
  padding: 0% 0% 0%;
  font-family: 'Poiret One', cursive;
  font-size: 175%;
  font-stretch: expanded;
}

#navigation {
  width: 50%;
  height: 50%;
  background-color: #bcc0d9;
  float: right;
}

#home_resume {
  width: 50%;
  height: 50%;
  float: right;
}

#home {
  width: 50%;
  height: 100%;
  background-color: #c5e2e3;
  float: left;
}

#resume {
  width: 50%;
  height: 100%;
  background-color: #bcd9d2;
  float: right;
}

#snapshot {
  width: 50%;
  height: 100%;
  background-color: #bbc7cc;
  float: right;
}

#skills-wrapper {
  width: 50%;
  height: 50%;
  float: left;
}

#projects {
  width: 50%;
  height: 100%;
  background-color: #bcd9d2;
  float: left;
}

#contact {
  width: 50%;
  height: 100%;
  background-color: #c5e2e3;
  float: right;
}

#hobbies {
  width: 50%;
  height: 50%;
  background-color: #bcc0d9;
  float: left;
}
