body {
  background-color: black;
  color: white;
}
.top{
  border: 1px solid red;
}
#header{
  border: 2px solid yellow;
  height: 50%;
  width: 49.3%;
  float:left;
}
#nav{
  border: 2px solid blue;
  height: 25%;
  width: 49.6%;
  float: right;
}
#home{
  border: 2px solid purple;
  height: 25%;
  width: 24.6%;
  float: left;
}
#resume{
  border: 2px solid green;
  height: 25%;
  width: 24.6%;
  float: right;
}
